apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: templates.exphost.pl
spec:
  group: exphost.pl
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                template:
                  type: string
                destination_name:
                  type: string
                destination_key:
                  type: string
                destination_labels:
                  type: object
                  additionalProperties: true
                destination_annotations:
                  type: object
                  additionalProperties: true
                destination_type:
                  type: string
                values:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      source_name:
                        type: string
                      source_type:
                        type: string
                      source_key:
                        type: string
                    
  scope: Namespaced
  names:
    plural: templates
    singular: template
    kind: Template
    shortNames:
    - tpl
